include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include donation_system *.css
recursive-include donation_system *.csv
recursive-include donation_system *.html
recursive-include donation_system *.ico
recursive-include donation_system *.js
recursive-include donation_system *.json
recursive-include donation_system *.md
recursive-include donation_system *.png
recursive-include donation_system *.py
recursive-include donation_system *.svg
recursive-include donation_system *.txt
recursive-exclude donation_system *.pyc